@font-face {
  font-family: "feather";
  src: url('/assets/fonts/feather-icons/feather-webfont.eot');
  src: url('/assets/fonts/feather-icons/feather-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/feather-icons/feather-webfont.woff') format('woff'), url('/assets/fonts/feather-icons/feather-webfont.ttf') format('truetype'), url('/assets/fonts/feather-icons/feather-webfont.svg#featherregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.feathericon {
  position: relative;
  top: -2px;
  display: inline-block;
  font-family: 'feather';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.feathericon-eye:before {
  content: "\e000";
}
.feathericon-paper-clip:before {
  content: "\e001";
}
.feathericon-mail:before {
  content: "\e002";
}
.feathericon-mail:before {
  content: "\e002";
}
.feathericon-toggle:before {
  content: "\e003";
}
.feathericon-layout:before {
  content: "\e004";
}
.feathericon-link:before {
  content: "\e005";
}
.feathericon-bell:before {
  content: "\e006";
}
.feathericon-lock:before {
  content: "\e007";
}
.feathericon-unlock:before {
  content: "\e008";
}
.feathericon-ribbon:before {
  content: "\e009";
}
.feathericon-image:before {
  content: "\e010";
}
.feathericon-signal:before {
  content: "\e011";
}
.feathericon-target:before {
  content: "\e012";
}
.feathericon-clipboard:before {
  content: "\e013";
}
.feathericon-clock:before {
  content: "\e014";
}
.feathericon-clock:before {
  content: "\e014";
}
.feathericon-watch:before {
  content: "\e015";
}
.feathericon-air-play:before {
  content: "\e016";
}
.feathericon-camera:before {
  content: "\e017";
}
.feathericon-video:before {
  content: "\e018";
}
.feathericon-disc:before {
  content: "\e019";
}
.feathericon-printer:before {
  content: "\e020";
}
.feathericon-monitor:before {
  content: "\e021";
}
.feathericon-server:before {
  content: "\e022";
}
.feathericon-cog:before {
  content: "\e023";
}
.feathericon-heart:before {
  content: "\e024";
}
.feathericon-paragraph:before {
  content: "\e025";
}
.feathericon-align-justify:before {
  content: "\e026";
}
.feathericon-align-left:before {
  content: "\e027";
}
.feathericon-align-center:before {
  content: "\e028";
}
.feathericon-align-right:before {
  content: "\e029";
}
.feathericon-book:before {
  content: "\e030";
}
.feathericon-layers:before {
  content: "\e031";
}
.feathericon-stack:before {
  content: "\e032";
}
.feathericon-stack-2:before {
  content: "\e033";
}
.feathericon-paper:before {
  content: "\e034";
}
.feathericon-paper-stack:before {
  content: "\e035";
}
.feathericon-search:before {
  content: "\e036";
}
.feathericon-zoom-in:before {
  content: "\e037";
}
.feathericon-zoom-out:before {
  content: "\e038";
}
.feathericon-reply:before {
  content: "\e039";
}
.feathericon-circle-plus:before {
  content: "\e040";
}
.feathericon-circle-minus:before {
  content: "\e041";
}
.feathericon-circle-check:before {
  content: "\e042";
}
.feathericon-circle-cross:before {
  content: "\e043";
}
.feathericon-square-plus:before {
  content: "\e044";
}
.feathericon-square-minus:before {
  content: "\e045";
}
.feathericon-square-check:before {
  content: "\e046";
}
.feathericon-square-cross:before {
  content: "\e047";
}
.feathericon-microphone:before {
  content: "\e048";
}
.feathericon-record:before {
  content: "\e049";
}
.feathericon-skip-back:before {
  content: "\e050";
}
.feathericon-rewind:before {
  content: "\e051";
}
.feathericon-play:before {
  content: "\e052";
}
.feathericon-pause:before {
  content: "\e053";
}
.feathericon-stop:before {
  content: "\e054";
}
.feathericon-fast-forward:before {
  content: "\e055";
}
.feathericon-skip-forward:before {
  content: "\e056";
}
.feathericon-shuffle:before {
  content: "\e057";
}
.feathericon-repeat:before {
  content: "\e058";
}
.feathericon-folder:before {
  content: "\e059";
}
.feathericon-umbrella:before {
  content: "\e060";
}
.feathericon-moon:before {
  content: "\e061";
}
.feathericon-thermometer:before {
  content: "\e062";
}
.feathericon-drop:before {
  content: "\e063";
}
.feathericon-sun:before {
  content: "\e064";
}
.feathericon-cloud:before {
  content: "\e065";
}
.feathericon-cloud-upload:before {
  content: "\e066";
}
.feathericon-cloud-download:before {
  content: "\e067";
}
.feathericon-upload:before {
  content: "\e068";
}
.feathericon-download:before {
  content: "\e069";
}
.feathericon-location:before {
  content: "\e070";
}
.feathericon-location-2:before {
  content: "\e071";
}
.feathericon-map:before {
  content: "\e072";
}
.feathericon-battery:before {
  content: "\e073";
}
.feathericon-head:before {
  content: "\e074";
}
.feathericon-briefcase:before {
  content: "\e075";
}
.feathericon-speech-bubble:before {
  content: "\e076";
}
.feathericon-anchor:before {
  content: "\e077";
}
.feathericon-globe:before {
  content: "\e078";
}
.feathericon-box:before {
  content: "\e079";
}
.feathericon-reload:before {
  content: "\e080";
}
.feathericon-share:before {
  content: "\e081";
}
.feathericon-marquee:before {
  content: "\e082";
}
.feathericon-marquee-plus:before {
  content: "\e083";
}
.feathericon-marquee-minus:before {
  content: "\e084";
}
.feathericon-tag:before {
  content: "\e085";
}
.feathericon-power:before {
  content: "\e086";
}
.feathericon-command:before {
  content: "\e087";
}
.feathericon-alt:before {
  content: "\e088";
}
.feathericon-esc:before {
  content: "\e089";
}
.feathericon-bar-graph:before {
  content: "\e090";
}
.feathericon-bar-graph-2:before {
  content: "\e091";
}
.feathericon-pie-graph:before {
  content: "\e092";
}
.feathericon-star:before {
  content: "\e093";
}
.feathericon-arrow-left:before {
  content: "\e094";
}
.feathericon-arrow-right:before {
  content: "\e095";
}
.feathericon-arrow-up:before {
  content: "\e096";
}
.feathericon-arrow-down:before {
  content: "\e097";
}
.feathericon-volume:before {
  content: "\e098";
}
.feathericon-mute:before {
  content: "\e099";
}
.feathericon-content-right:before {
  content: "\e100";
}
.feathericon-content-left:before {
  content: "\e101";
}
.feathericon-grid:before {
  content: "\e102";
}
.feathericon-grid-2:before {
  content: "\e103";
}
.feathericon-columns:before {
  content: "\e104";
}
.feathericon-loader:before {
  content: "\e105";
}
.feathericon-bag:before {
  content: "\e106";
}
.feathericon-ban:before {
  content: "\e107";
}
.feathericon-flag:before {
  content: "\e108";
}
.feathericon-trash:before {
  content: "\e109";
}
.feathericon-expand:before {
  content: "\e110";
}
.feathericon-contract:before {
  content: "\e111";
}
.feathericon-maximize:before {
  content: "\e112";
}
.feathericon-minimize:before {
  content: "\e113";
}
.feathericon-plus:before {
  content: "\e114";
}
.feathericon-minus:before {
  content: "\e115";
}
.feathericon-check:before {
  content: "\e116";
}
.feathericon-cross:before {
  content: "\e117";
}
.feathericon-move:before {
  content: "\e118";
}
.feathericon-delete:before {
  content: "\e119";
}
.feathericon-menu:before {
  content: "\e120";
}
.feathericon-archive:before {
  content: "\e121";
}
.feathericon-inbox:before {
  content: "\e122";
}
.feathericon-outbox:before {
  content: "\e123";
}
.feathericon-file:before {
  content: "\e124";
}
.feathericon-file-add:before {
  content: "\e125";
}
.feathericon-file-subtract:before {
  content: "\e126";
}
.feathericon-help:before {
  content: "\e127";
}
.feathericon-open:before {
  content: "\e128";
}
.feathericon-ellipsis:before {
  content: "\e129";
}