<!-- Navigation -->
<nav id="navigation" class="navigation-panel dark" [class.show]="sidebaropen">

    <div class="navigation-inner">
        <!-- Navigation Primary -->
        <ul class="nav nav-primary-panel">
            <li class="nav-item"><a href="#start" class="nav-link">Start</a></li>
            <li class="nav-item"><a href="#resume" class="nav-link">Resume</a></li>
            <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a routerLink="/auth/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
    
</nav>
<!-- Navigation / End -->

<!-- Navigation Toggle -->
<a id="navigation-toggle" (click)="togglesidebarOpen($event)" class="nav-toggle"  [class.open]="sidebaropen"><span></span><span></span><span></span><span></span></a>
