<div class="dialog-wrap containerdialog modal">
    <div class="modal-content">
        <div class="modal-header clearfix text-left">
            <button type="button" class="close" mat-dialog-close [mat-dialog-close]="false">
                <i class="pg-close fs-16"></i>
            </button>
            <h5 class="semi-bold">{{title}}</h5>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group-attached">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label for="firstname">Nom</label>
                                <input id="firstname" name="firstname" [(ngModel)]="client.firstname" type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group form-group-default">
                                <label for="lastname">Prenom</label>
                                <input id="lastname" name="lastname" [(ngModel)]="client.lastname" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label for="age">Age</label>
                                <input id="age" name="age" [(ngModel)]="client.age" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label for="description">Description</label>
                                <textarea class="form-control" [(ngModel)]="client.description" id="description" placeholder="Description" aria-invalid="false" name="description" style="height: 75px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 m-t-10 sm-m-t-10">
                    <button type="button" class="btn btn-success btn-block m-t-5" (click)="add()">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>