<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <a class="" rel="home" href="#">
            <span class="logo-text text-white"><span class="light text-white">DYNA</span>LAR</span>
        </a>
        <div class="sidebar-header-controls">
            <button type="button" class="btn btn-link hidden-md-down" (click)="togglePinSidebar($event)" data-toggle-pin="sidebar">
                <i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu" id="page-sidebar-menu-list">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <perfect-scrollbar class="scroll-container" style="height:calc(100% - 5px)" [config]="config">
        <ul class="menu-items scrollable-content">
            <li class="m-t-30 ">
                <a routerLink="/admin" class="detailed">
                    <span class="title">Dashboard</span>
                    <span class="details">12 New Updates</span>
                </a>
                <span class="bg-success icon-thumbnail">
                    <i class="pg-home"></i>
                </span>
            </li>
            <li class="m-t-5 ">
                <a routerLink="/admin/consultants" class="detailed">
                    <span class="title">Consultants</span>
                    <span class="details">List Of Consultants</span>
                </a>
                <span class="icon-thumbnail">
                    <i class="fa fa-users"></i>
                </span>
            </li>
            <li class="m-t-5 ">
                <a routerLink="/admin/companies" class="detailed">
                    <span class="title">Companies</span>
                    <span class="details">List Of Companies</span>
                </a>
                <span class="icon-thumbnail">
                    <i class="fa fa-suitcase"></i>
                </span>
            </li>
            <li #Menuitem class="">
                <a href="">
                    <span class="title">Settings</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail">Sg</span>
                <ul class="sub-menu">
                    <li class="">
                        <a routerLink="/admin/client">Client</a>
                        <span class="icon-thumbnail">Cl</span>
                    </li>
                </ul>
            </li>
            <li #Menuitem class="">
                <a href="">
                    <span class="title">Menu Levels</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail">
                    <i class="pg-menu_lv"></i>
                </span>
                <ul class="sub-menu">
                    <li>
                        <a href="">Level 1</a>
                        <span class="icon-thumbnail">L1</span>
                    </li>
                    <li>
                        <a href="">
                            <span class="title">Level 2</span>
                            <span class="arrow"></span>
                        </a>
                        <span class="icon-thumbnail">L2</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="">Sub Menu</a>
                                <span class="icon-thumbnail">Sm</span>
                            </li>
                            <li>
                                <a href="u">Sub Menu</a>
                                <span class="icon-thumbnail">Sm</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        </perfect-scrollbar>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>