
  $red: #FA4647;
  $light-bg: #fefefe;
  $yellow: rgba(243, 206, 43, 0.404);
  $blue: rgb(100, 44, 255);
  
  .item {
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0px 5px 5px 0 rgba(0, 0, 0, 0.1);
    background: $light-bg;
    width: 100%;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    position: relative;
    .item-image {
      display: inline-block;
      position: relative;
      img {
        border-radius: 50%;
        padding: 10px;
        max-width: 145px;
      }
    }
    .image-point {
      position: absolute;
      .point {
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
      .point {
        position: relative;
        visibility: visible;
        //  display: inline-block;
        cursor: pointer;
        height: 24px;
        width: 24px;
        background: rgb(160, 34, 233);
        border-radius: 100%;
        //animation-fill-mode: forwards;
        animation-name: pulseOut;
        animation-duration: .5s;
        animation-iteration-count: 1;
        &:hover {
          animation-fill-mode: forwards;
          animation-name: pulseIn;
          animation-duration: .5s;
          animation-iteration-count: 1;
        }
        i{
            color: white;
            padding: 0 4px;
            font-size: 16px;
            line-height: 25px;
        }
      }
    }
    .item-description {
      padding-top: 5px;
      small {
        text-transform: uppercase;
        color: #676767;
      }
    }
    .description-price {
      font-size: 21px;
      color: $blue;
      position: relative;
      &:after {
        position: absolute;
        content: attr(data-currency);
        font-size: 10px;
      }
    }
    .description-title {
        margin-top: 5px;
        position: relative;
        z-index: 5;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 pages-icon;
      font-size: 20em;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\e904";
      position: absolute;
      z-index: 0;
      color: rgba(0, 0, 0, 0.02);
      right: -95px;
      bottom: 10px;
      pointer-events: none;
    }
  }
  
//   //Button
//   .btn {
//     display: inline-block;
//     background: $blue;
//     padding: 15px 20px;
//     color: white;
//     border-radius: 4px;
//     cursor: pointer;
//     transition: all 0.5s;
//     bottom: 10;
//     text-transform: uppercase;
//     &:hover {
//       transform: translateY(-2px);
//       //box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.22),0px 27px 24px 0 rgba(0, 0, 0, 0.2);
//       box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.2);
//     }
//   }
  
  @keyframes pulseIn {
    from {
      
      box-shadow: transparent 0 0 0 0;
    }
    to {
      box-shadow: //0 0 0 5px rgba(108, 99, 255,.40),
      0 0 0 5px rgba(0, 0, 0, 0.3), 0 0 0 10px rgba(0, 0, 0, .20), 0 0 0 15px rgba(0, 0, 0, .10);
    }
  }
  
  @keyframes pulseOut {
    from {
      box-shadow: //0 0 0 5px rgba(108, 99, 255,.40),
      0 0 0 5px rgba(0, 0, 0, .30), 0 0 0 10px rgba(0, 0, 0, .20), 0 0 0 15px rgba(0, 0, 0, .10);
    }
    to {
      box-shadow: transparent 0 0 0 0;
    }
  }