<div class="dialog-wrap containerdialog modal">
    <div class="modal-content">
        <div class="modal-header clearfix text-left">
            <button type="button" class="close" mat-dialog-close [mat-dialog-close]="false">
                <i class="pg-close fs-16"></i>
            </button>
            <h3 class="semi-bold">{{title}}</h3>
            <p class="p-b-10">{{company.id}}, <b>{{company.name}}</b></p>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-cons btn-sm pull-left inline" (click)="delete()">supprimer</button>
            <button type="button" class="btn btn-default btn-cons btn-sm no-margin pull-left inline" [mat-dialog-close]="false">annuler</button>
        </div>
    </div>
</div>