

.muck-up {
  margin: 0 auto;
  position: relative;
  overflow: hidden;

    .mock-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: url(/assets/img/city.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(57, 31, 66, 0.79);
      }
  }

  > .top {
    position: relative;
    min-height: 180px;
    padding: 15px;
    color: #fff;
  }

  .top .nav span {
    float: left;
    display: block;
  }

  .nav p {
    margin-top: 2px;
    display: inline-block;
    float: left;
    vertical-align: bottom;
  }

  .ion-android-menu {
    font-size: 24px;
    margin-right: 17px;
  }

  .nav .ion-ios-more-outline {
    font-size: 38px;
    float: right !important;
  }

  .user-profile {
    margin-top: 20px;
  }

  .user-profile {
    .linkedinicon,img {
      height: 55px;
      width: 55px;
      border-radius: 50%;
      float: left;
      margin-right: 24px;
      background-color:#0077b7;
      display: block;
      text-align: center;
      line-height: 55px;
      font-size: 20px;
    }
    .user-details {
      p {
        font-size: 12px;
        color: white;
        font-weight: 600;
        margin: 0;
      }
      h4 {
        font-size: 18px;
        color: white;
        margin-bottom: 5px;
      }
    }
  } 


  .filter-btn {
    position: absolute;
    z-index: 2;
    right: 0;
    display: block;
    /* width: 40px; */
    /* height: 40px; */
    transition: all 0.4s ease-in-out 0s;
    span {
      width: 40px;
      height: 40px;
      background: #4c2c92;
      display: block;
      position: absolute;
      right: 25px;
      top: -46px;
      text-align: center;
      color: #fff;
      line-height: 40px;
      border-radius: 50%;
      font-size: 18px;
      z-index: 999;
    }
    .toggle-btn{
      &:hover{
        cursor: pointer;
      }
    }
    a {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      right: 25px;
      display: block;
      top: -46px;
      color: #fff;
      z-index: 99;
      font-size: 16px;
      transition: all 0.3s cubic-bezier(0.68, 1, 0.265, 1)!important;
    }
    &:after {
      height: 170px;
      width: 170px;
      content: '';
      background-color: #643dba;
      position: absolute;
      top: -110px;
      right: -40px;
      border-radius: 50%;
      transform: scale(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover,&.open{
      span.toggle-btn {
        background-color: #4c2c92;
        &:before {
          // content: "\e601";
          content: "\e660";
        }
      }
      &:after {
        transform: scale(1);
      }
      a{
        border-radius: 50%;
        &:hover{
          background-color: #7e57d1;
        }
        &:nth-child(1) {
          transform: translate(5px, -60px);
        }
      
        &:nth-child(2) {
          transform: translate(-45px, -35px)
        }
      
        &:nth-child(3) {
          transform: translate(-45px, 35px);
        }
      
        &:nth-child(4) {
          transform: translate(5px, 60px);
        }
      }
    } 
  }


  .bottom {
    background-color: #fff;
    z-index: 1;
    padding: 35px;
    position: relative;
    color: #222;
    padding: 0px 35px 5px 35px;
    .title {
      margin-bottom: 20px;
      h3 {
        font-size: 22px;
        margin-bottom: 5px;
      }
      small {
        font-size: 10px;
        color: #888;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: -44px;
      background: #fff;
      left: -22px;
      right: 0;
      height: 100px;
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
      width: calc(100% + 44px);
      z-index: -1;
    }
  }

  ul.tasks {
    padding: 0;
    .task-title {
      font-size: 13px;
      display: inline-block;
      font-weight: 600;
    }
    .task-time {
      float: right;
      font-size: 10px;
      color: #888;
    }
    .task-cat {
      font-size: 10px;
      display: block;
      color: #888;
    }
    li {
      margin-bottom: 5px;
      position: relative;
      z-index: 8;
      padding: 0;
      &:after {
        content: '';
        position: absolute;
        left: -12px;
        top: 10px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        box-shadow: 0 0 0px 2px #eee;
      }
      &.red:after {
        background: #4c2c92;
      }
      &.green:after {
        background: #54D6C7;
      }
      &.yellow:after {
        background: #EAB429;
      }
    }
    &::after {
      content: '';
      position: absolute;
      height: 300px;
      width: 1px;
      background: #eee;
      left: 20px;
      top: -59px;
    }
  }
}