.mat-paginator {
	display: inline-block;
}
#ajax-loading-screen{
	position: absolute!important;
}
.mat-paginator-range-label {
    margin: 0 5px 0 5px!important;
}
.mat-paginator-page-size {
    margin-right: 5px!important;
}