<div class="dialog-wrap containerdialog modal">
    <div class="modal-content">
        <div class="modal-header clearfix text-left">
            <button type="button" class="close" mat-dialog-close [mat-dialog-close]="false">
                <i class="pg-close fs-16"></i>
            </button>
            <h5 class="semi-bold">Consultant</h5>
        </div>
        <div class="modal-body">
            <form name="form" role="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group-attached">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && name.invalid }">
                                <label for="name">Nom</label>
                                <input id="name" required [(ngModel)]="consultant.name" name="name" #name="ngModel"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default input-group">
                                <div class="form-input-group">
                                    <label for="photo">Photo</label>
                                    <input name="photo" (change)="onSelectFile($event)" id="photo" type="file" multiple
                                        class="form-control" />
                                </div>
                                <div class="input-group-append ">
                                    <span class="input-group-text consult-photo">
                                        Images
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && post.invalid }">
                                <label for="post">Post</label>
                                <input id="post" [(ngModel)]="consultant.post" name="post" #post="ngModel" required
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && company.invalid }">
                                <label for="company">Company</label>
                                <input id="company" [(ngModel)]="consultant.company" name="company" #company="ngModel"
                                    required type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && price.invalid }">
                                <label for="price">Price</label>
                                <input id="price" [(ngModel)]="consultant.price" name="price" #price="ngModel" required
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && currency.invalid }">
                                <label for="currency">Currency</label>
                                <mat-select placeholder="" #currency="ngModel" required [(ngModel)]="consultant.currency"
                                    name="currency">
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                                        {{currency.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && skype.invalid }">
                                <label for="skype">Skype</label>
                                <input id="skype" [(ngModel)]="consultant.skype" name="skype" #skype="ngModel" required
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && phone.invalid }">
                                <label for="phone">phone</label>
                                <input id="phone" [(ngModel)]="consultant.phone" name="phone" #phone="ngModel" required
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default required" [ngClass]="{ 'has-error': f.submitted && wokrpermit.invalid }">
                                <label for="wokrpermit" (click)="picker.open()">Wokr Date</label>
                                <input matInput [(ngModel)]="consultant.wokrpermit" name="wokrpermit" #wokrpermit="ngModel"
                                    required [matDatepicker]="picker" (click)="picker.open()" placeholder="">
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-default">
                                <label for="description">Description</label>
                                <textarea id="description" [(ngModel)]="consultant.description" name="description"
                                    style="height: 75px;" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button type="submit" class="btn btn-success btn-block m-t-5">
                            {{(consultant.id == null) ? 'Add ' : 'Update '}} Consultant
                        </button>
                    </div>
                </div>
            </form>
            <!-- <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 m-t-10 sm-m-t-10">
                    <button type="submit" class="btn btn-success btn-block m-t-5" (click)="submit()">
                     {{(consultant.id == null) ? 'Add ' : 'Update '}} Consultant
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>