<div class="dialog-wrap containerdialog modal">
    <div class="modal-content">
        <div class="modal-header clearfix text-left">
            <button type="button" class="close" mat-dialog-close [mat-dialog-close]="false">
                <i class="pg-close fs-16"></i>
            </button>
            <h5 class="semi-bold">{{title}}</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 m-t-10 sm-m-t-10">
                    <button type="button" class="btn btn-success btn-block m-t-5" (click)="add()">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>