   /* header*/
   body .page-content header {
    width: 100%;
    padding: 0;
    font-size: 100%;
    pointer-events: auto;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0s,-webkit-transform 0.5s,padding 0.5s,opacity 0.5s;
    -moz-transition: all 0s,-moz-transform 0.5s,padding 0.5s,opacity 0.5s;
    transition: all 0s,transform 0.5s,padding 0.5s,opacity 0.5s;
  }
  body .page-content header .subnav {
    background-color: #6b5388;
    color: white;
  }
  body .page-content header .subnav .subnavinfo {
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
  }
  body .page-content header .subnav .subnavinfo span {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #826e9e;
    display: inline-block;
  }
  body .page-content header .subnav .subnavinfo span:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  body .page-content header .navbar-brand {
    padding: 0;
  }
  body .page-content header .navbar {
    color: #000;
    text-transform: uppercase;
    min-height: 40px;
    padding: 0;
    z-index: 2;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    transition: all 0s,margin 0.5s;
  }
  body .page-content header .navbar .navbar-nav > li > a {
    font-size: 13px;
    font-weight: 500;
    padding: 15px 10px;
    -webkit-transition: all 0s,padding 0.5s,text-transform 0.5s;
    -moz-transition: all 0s,padding 0.5s,text-transform 0.5s;
    transition: all 0s,padding 0.5s,text-transform 0.5s;
  }
  body .page-content header .navbar .navbar-nav > li > button {
    margin: 10px 0;
    margin-right: 5px;
  }
  body .page-content header .navbar .navbar-nav > li:last-child > button {
    margin-right: 0;
  }
  body .page-content header .navbar .navbar-nav > .open > a,
  body .page-content header .navbar .navbar-nav > li:hover > a,
  body .page-content header .navbar .navbar-nav > li.active > a {
    /* border-top: 2px solid #00aaff; */
    -webkit-box-shadow: inset 0px 1px 0px 0px #6b5388;
    -moz-box-shadow: inset 0px 1px 0px 0px #6b5388;
    box-shadow: inset 0px 1px 0px 0px #6b5388;
  }